
.main-nav {
    display: -webkit-flex;
    display: flex;
    /* line-height: 0px; */
    text-align: center;
}
.main-nav li:first-child {
    margin-right: auto;
    font-weight: 700;
    font-size: 1.4em;
    padding-top: 10px;
}

.main-nav li {
    list-style: none;
    padding-top: 15px;
    text-align: center;
}
.main-nav a {
    color: #eee;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}
.link {
    margin:0 !important;
    padding:0
}